:root {
  --cyan-dark: #4d96a9;
  --cyan-light: #8fe3f9;
  --purple-dark: #855fb1;
  --purple-light: #d9b8ff;
  --slate-dark: #28283d;
  --slate: #87879d;
  --slate-light: #d1d1df;
  --white: #fafafa;
}
