:root {
  --cyan-dark: #4d96a9;
  --cyan-light: #8fe3f9;
  --purple-dark: #855fb1;
  --purple-light: #d9b8ff;
  --slate-dark: #28283d;
  --slate: #87879d;
  --slate-light: #d1d1df;
  --white: #fafafa;
}

body {
  background-color: var(--white);
  font-family: "Red Hat Display", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header__logo {
  margin-top: 32px;
  margin-bottom: 64px;
}

.hero__title {
  font-size: 3rem;
  font-weight: 900;
  line-height: 110%;
  color: var(--slate-dark);
}

.hero__subtitle {
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 150%;
  color: var(--slate);
  margin: 24px 35px;
}

.hero__image-large-left {
  display: none;
  height: 303px;
}

.hero__image-large-right {
  display: none;
  height: 303px;
}

.hero__image-small {
  width: 120%;
  margin-left: -10%;
  margin-bottom: 48px;
  display: block;
  object-fit: cover;
  object-position: center;
  max-width: none;
}

.hero__buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-bottom: 32px;
}

.button {
  width: fit-content;
  padding: 16px 40px;
  border-radius: 30px;
  font-weight: 900;
  font-size: 1rem;
  line-height: 150%;
  color: var(--white);
  border: none;
}

.button__version-cyan {
  color: var(--cyan-light);
  margin-left: 4px;
}

.button--cyan {
  background-color: var(--cyan-dark);
}

.button__version-purple {
  color: var(--purple-light);
  margin-left: 4px;
}

.button--purple {
  background-color: var(--purple-dark);
  text-decoration: none;
}

.communication-features {
  position: relative;
  background-image: linear-gradient(
      rgba(77, 150, 169, 0.85),
      rgba(77, 150, 169, 0.85)
    ),
    url("./assets/mobile/image-footer.jpg");
  background-size: cover;
  width: 110%;
  color: var(--white);
  padding-top: 54px; /* Full height of number bubble to account for overlap effect */
}

.communication-features__heading {
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 110%;
}

.communication-features__text {
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 150%;
  margin: 24px 32px;
}

.communication-features button {
  margin-bottom: 64px;
}

.features__highlight-heading {
  color: var(--cyan-dark);
  font-size: 1rem;
  font-weight: 900;
  line-height: 110%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.features__heading {
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 110%;
  color: var(--slate-dark);
}

.features__text {
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 150%;
  color: var(--slate);
  margin: 24px 35px;
}

.image-gallery {
  display: grid;
  grid-template-columns: repeat(2, auto);
  margin: 32px;
  margin-bottom: 64px;
  gap: 16px;
}

.image-gallery__image {
  height: 160px;
  border-radius: 5%;
}

.section-number {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 32px 0;
}

.section-number__vertical-rule {
  width: 1px;
  height: 80px;
  background-color: var(--slate-light);
}

.section-number__number {
  font-size: 1rem;
  font-weight: 900;
  line-height: 150%;
  color: var(--slate);
  border: var(--slate-light) 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  height: 54px;
  width: 54px;
  background-color: var(--white);
}

.section-number--overlap {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: -27px; /* Half the height of the number bubble (54px ÷ 2) */
}

/* Tablet Displays */
@media screen and (min-width: 48rem) {
  .hero__image-large-left {
    display: none;
  }

  .hero__image-large-right {
    display: none;
  }

  .hero__image-small {
    width: 110%;
    margin-left: -5%;
    margin-bottom: 72px;
  }

  .hero__title {
    font-size: 4rem;
    margin: 0 160px;
  }

  .hero__subtitle {
    margin: 24px 160px;
  }

  .hero__buttons-container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 160px 120px 160px;
  }

  .image-gallery {
    grid-template-columns: repeat(4, auto);
    margin: 44px;
    margin-bottom: 64px;
    gap: 24px;
  }

  .features__heading {
    margin: 16px 132px 32px 132px;
  }

  .features__text {
    margin: 0 132px 64px 132px;
  }

  .communication-features {
    background-image: linear-gradient(
        rgba(77, 150, 169, 0.85),
        rgba(77, 150, 169, 0.85)
      ),
      url("./assets/tablet/image-footer.jpg");
  }

  .communication-features__heading {
    margin: 0 132px 24px 132px;
  }

  .communication-features__text {
    margin: 0 132px 24px 132px;
  }
}

/* Desktop Displays */
@media screen and (min-width: 64rem) {
  .hero__image-large-left {
    display: block;
  }

  .hero__image-large-right {
    display: block;
  }

  .hero__image-small {
    display: none;
  }
}
