:root {
  --cyan-dark: #4d96a9;
  --cyan-light: #8fe3f9;
  --purple-dark: #855fb1;
  --purple-light: #d9b8ff;
  --slate-dark: #28283d;
  --slate: #87879d;
  --slate-light: #d1d1df;
  --white: #fafafa;
}

body {
  font-family: "Red Hat Display", sans-serif;
}

/* Mobile Displays */

.hero__image-large-left {
  display: none;
}

.hero__image-large-right {
  display: none;
}

/* Tablet Displays */
@media screen and (min-width: 48rem) {
  .hero__image-large-left {
    display: none;
  }

  .hero__image-large-right {
    display: none;
  }
}

/* Desktop Displays */
@media screen and (min-width: 64rem) {
  .hero__image-large-left {
    display: block;
  }

  .hero__image-large-right {
    display: block;
  }

  .hero__image-small {
    display: none;
  }
}
